@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <p><a class="btn btn-outline-dark" href="/Catalog">View catalog page</a></p>
        <p><a class="btn btn-outline-dark" href="/Product">View product page</a></p>
    </div>
</main>